<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    //turn on component scanning to pick on applications
    <context:property-placeholder location="classpath:newsletter.properties"/>
    <mvc: annotation-driven />

    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/view/"/>
        <property name="suffix" value=".jsp"/>
    </bean>
    <bean class="springxml.services.emailValidation" id="emailValidation"></bean>
    <bean class="springxml.services.firstNameValidation" id="firstNameValidation"></bean>
    <bean class="springxml.services.lastNameValidation" id="lastNameValidation"></bean>

    <bean class="springxml.beans.user" id="user">
        <constructor-arg ref="emailValidation"></constructor-arg>
        <property name="email" value="${n1.email}"></property>
        <property name="firstName" value="${n1.firstName}"></property>
        <property name="lastName" value="${n1.lastName}"></property>


    </bean>

</beans>