* {
    box-sizing: border-box;
}

header, main, nav, footer, figure, figcaption, aside, section, article {
    display: block;
}

ul, li, h2, h3, p, th, td, footer {
    font-family: 'Hepta Slab', serif;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: navy;
}

li{
    float: left;
}

li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover{
    background-color: #111;
}

th, td {
    border-bottom: 1px solid #ddd;
    padding: 15px;
}

tr {
    border-top:1px solid gray;
    text-align:center;
}

th {
    border-bottom:1px solid gray;
    background:none repeat scroll 0 0 #09c332;
    padding:10px;
    color: #FFFFFF;
}

table {
    border-collapse:collapse;
    border-bottom:1px solid gray;
    font-family: Tahoma,Verdana,Segoe,sans-serif;
    width:72%;
}

tr:hover {background-color: yellow;}

.collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
}

h1 {
    font-family: 'Chelsea Market', cursive;
}

.add-button {
    border: 1px solid #666;
    border-radius: 5px;
    padding: 4px;
    font-size: 12px;
    font-weight: bold;
    width: 120px;
    padding: 5px 10px;

    margin-bottom: 15px;
    background: #cccccc;
}

#wrapper {width: 100%; margin-top: 0px; }
#header {width: 70%; background: #09c332; margin-top: 0px; padding:15px 0px 15px 15px;}
#header h2 {width: 100%; margin:auto; color: #FFFFFF;}
#container {width: 100%; margin:auto}
#container h3 {color: #000;}
#container #content {margin-top: 20px;}

